{{> header}}
<section id="login">
    <div class="section-content">
        <h1 class="section-header">Edit <span class="content-header wow fadeIn " data-wow-delay="0.2s"
                                              data-wow-duration="2s"> {{nameOfApp}}</span></h1>
    </div>
    <div id="editOrderDiv" class="login-wrap">
        <div class="login-html new-order">
            <div class="login-form">
                {{#if isAuthor}}
                    <form id="editOrderForm" class="form-group">
                        <div class="group">
                            <label for="appType" class="label">App Type</label>
                            <select id="appType" name="appType" type="text" class="form-control dropdown-toggle"
                                    placeholder="App type">
                                {{#if Desktop}}
                                    <option selected="selected">Desktop</option>  {{else}}
                                    <option>Desktop</option>    {{/if}}
                                {{#if Mobile}}
                                    <option selected="selected">Mobile</option>  {{else}}
                                    <option>Mobile</option>    {{/if}}
                                {{#if Web}}
                                    <option selected="selected">Web</option>  {{else}}
                                    <option>Web</option>  {{/if}}
                                {{#if Hybrid}}
                                    <option selected="selected">Hybrid</option>  {{else}}
                                    <option>Hybrid</option> {{/if}}
                            </select>
                        </div>

                        <div class="group">
                            <label for="nameOfApp" class="label">Name Of App</label>
                            <input id="nameOfApp" name="nameOfApp" type="text" class="form-control" data-type="text"
                                   maxlength="35"
                                   value="{{nameOfApp}}">
                        </div>

                        <div class="group">
                            <label for="numberOfPage" class="label">Number Of Page</label>
                            <input id="numberOfPage" name="pageCount" type="number" class="form-control"
                                   data-type="number"
                                   value="{{pageCount}}">
                        </div>

                        <fieldset class="form-group">
                            <legend>Do you have ready design?</legend>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="designElements"
                                           id="optionsRadios1"
                                           value="Yes" {{checkYes}}>
                                    YES
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="designElements"
                                           id="optionsRadios2"
                                           value="No" {{checkNo}}>
                                    NO
                                </label>
                            </div>
                        </fieldset>

                        <div class="group">
                            <label for="deadline" class="label">Enter your deadline(if you have)</label>
                            <input id="deadline" name="deadline" type="date" class="form-control" data-type="date"
                                   value="{{deadline}}">
                        </div>

                        <div class="form-group">
                            <label for="functionality">Describe desired functionality:</label>
                            <textarea class="form-control" id="functionality" name="functionality" rows="5"
                                      maxlength="100">{{functionality}}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="comment">Leave your comment here</label>
                            <textarea class="form-control" id="comment" name="comment" rows="5"
                                      maxlength="100">{{comment}}</textarea>
                        </div>
                    </form>

                    <div class="group">
                        <input type="submit" id="editOrderBtn" class="button" value="Save">
                    </div>
                    <div class="hr"></div>
                {{else if isTeamMember}}
                    <form id="editOrderForm" class="form-group">
                        <div class="group">
                            <label for="appStatus" class="label">App Status</label>
                            <select id="appStatus" name="appStatus" type="text" class="form-control dropdown-toggle"
                                    placeholder="App Status">
                                {{#if Development}}
                                    <option selected="selected">Development</option>  {{else}}
                                    <option>Development</option>    {{/if}}
                                {{#if Finished}}
                                    <option selected="selected">Finished</option>  {{else}}
                                    <option>Finished</option>    {{/if}}
                                {{#if Clarification}}
                                    <option selected="selected">Clarification</option>  {{else}}
                                    <option>Clarification</option>  {{/if}}
                            </select>
                        </div>
                    </form>

                    <div class="group">
                        <input type="submit" id="editOrderBtn" class="button" value="Save">
                    </div>
                    <div class="hr"></div>
                {{else if isAdmin}}
                    <form id="editOrderForm" class="form-group">
                        <h1 class="section-header">Status and Team:</h1>
                        <div class="group">
                            <label for="appStatus" class="label">App Status</label>
                            <select id="appStatus" name="appStatus" type="text" class="form-control dropdown-toggle"
                                    placeholder="App Status">
                                {{#if Development}}
                                    <option selected="selected">Development</option>  {{else}}
                                    <option>Development</option>    {{/if}}
                                {{#if Finished}}
                                    <option selected="selected">Finished</option>  {{else}}
                                    <option>Finished</option>    {{/if}}
                                {{#if Clarification}}
                                    <option selected="selected">Clarification</option>  {{else}}
                                    <option>Clarification</option>  {{/if}}
                            </select>
                        </div>

                        <div class="group">
                            <label for="assignedTeam" class="label">Assigned Team</label>
                            <select id="assignedTeam" name="assignedTeam" type="text" class="form-control dropdown-toggle"
                                    placeholder="Enter in production">
                                <option>Team Banana</option>
                                <option>Team The Best</option>
                                <option>Team Kiwi</option>
                                <option>Team Hulk</option>
                            </select>
                        </div>

                        <h1 class="section-header">Order Details:</h1>
                        {{#if isNotInProduction}}
                        <div class="group">
                            <label for="appType" class="label">App Type</label>
                            <select id="appType" name="appType" type="text" class="form-control dropdown-toggle"
                                    placeholder="App type">
                                {{#if Desktop}}
                                    <option selected="selected">Desktop</option>  {{else}}
                                    <option>Desktop</option>    {{/if}}
                                {{#if Mobile}}
                                    <option selected="selected">Mobile</option>  {{else}}
                                    <option>Mobile</option>    {{/if}}
                                {{#if Web}}
                                    <option selected="selected">Web</option>  {{else}}
                                    <option>Web</option>  {{/if}}
                                {{#if Hybrid}}
                                    <option selected="selected">Hybrid</option>  {{else}}
                                    <option>Hybrid</option> {{/if}}
                            </select>
                        </div>

                        <div class="group">
                            <label for="nameOfApp" class="label">Name Of App</label>
                            <input id="nameOfApp" name="nameOfApp" type="text" class="form-control" data-type="text"
                                   maxlength="35"
                                   value="{{nameOfApp}}">
                        </div>

                        <div class="group">
                            <label for="numberOfPage" class="label">Number Of Page</label>
                            <input id="numberOfPage" name="pageCount" type="number" class="form-control"
                                   data-type="number"
                                   value="{{pageCount}}">
                        </div>

                        <fieldset class="form-group">
                            <legend>Do you have ready design?</legend>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="designElements"
                                           id="optionsRadios1"
                                           value="Yes" {{checkYes}}>
                                    YES
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="designElements"
                                           id="optionsRadios2"
                                           value="No" {{checkNo}}>
                                    NO
                                </label>
                            </div>
                        </fieldset>

                        <div class="group">
                            <label for="deadline" class="label">Enter your deadline(if you have)</label>
                            <input id="deadline" name="deadline" type="date" class="form-control" data-type="date"
                                   value="{{deadline}}">
                        </div>

                        <div class="form-group">
                            <label for="functionality">Describe desired functionality:</label>
                            <textarea class="form-control" id="functionality" name="functionality" rows="5"
                                      maxlength="100">{{functionality}}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="comment">Leave your comment here</label>
                            <textarea class="form-control" id="comment" name="comment" rows="5"
                                      maxlength="100">{{comment}}</textarea>
                        </div>
                        {{else}}
                            <div class="form-group">
                                <h4 class="text-info"><i class="fa fa-info"> The order status is: <span class="text-warning"> {{appStatus}}</span></i></h4>
                                <input type="checkbox" name="enableEditing" value="enableEditing"><span class="text-danger"> Enable Editing</span>
                            </div>
                        {{/if}}
                    </form>

                    <div class="group">
                        <input type="submit" id="editOrderBtn" class="button" value="Save Changes">
                    </div>
                    <div class="hr"></div>
                {{/if}}
            </div>
        </div>
    </div>
</section>
{{> footer}}